In [1]:
import numpy as np 
import pandas as pd

# is_on_even_position

In [14]:
tab = [2,3,4,5,6]
def is_on_even_position(tab, val):
    try :
        return True if (tab.index(val)+1)%2==0 else False
    except ValueError :
        return False 
is_on_even_position(tab,3)

True

# is_bool

In [3]:
def is_bool(i, j):
    return i==1 or j==1 or i+j==1
is_bool(-5,6)

True

# Encode

In [4]:
import copy

def encode(plain_text):
    PERMITTED_CHARS = "abcdefghijklmnopqrstuvwxyz" 
    max = 15000
    string = ""
    result = ""
    counter = 0
    letter = ""
    if plain_text : 
        string = "".join(c for c in copy.deepcopy(plain_text) if c in PERMITTED_CHARS)
    
    if max >= len(string) and string:
        for i in string :
            if letter == "":
                letter = i
                counter = 1
            elif letter == i :
                counter += 1
            else: 
                result = result + str(counter) + letter
                letter = i
                counter = 1
    else : 
        return False
    
    return result + str(counter) + letter

encode("...p.4.qqq")

'1p3q'

# find_frequent_words

In [5]:
from stop_words import get_stop_words
from collections import namedtuple 
import numpy as np 

def find_frequent_words(sentence):
    N = len(sentence)
    TF = []
    lower_words = ""
    stop_words = get_stop_words('en')
    symbols = "!\"#$%&()*+-./:;<=>?@[\]^_`{|}~\n"
    processed_text = ""
    
    if sentence : 
        lower_words = " ".join(sentence.lower().strip().split())
        for i in symbols:
            lower_words = lower_words.replace(i, '')
        
        lower_words = lower_words.split(" ")
        for word in lower_words:
            if word not in stop_words and len(word) > 1:
                processed_text = processed_text + " " + word
                
        
    #On peut ajouter stemming
    #On peut ajouter lemmatization
    #Convertir les nombres
    #processed_text = processed_text.strip().split(" ")
    
    processed_text = processed_text.strip().split(" ")
    processed_text_unique = []

    for word in processed_text:   #for each word in line.split()
        if word not in processed_text_unique:    #if a word isn't in line.split            
            processed_text_unique.append(word)   #append it.
    
    for w in processed_text_unique:
        if w not in TF : 
            TF.append((w, (processed_text.count(w)/len(processed_text))))

    return TF


find_frequent_words("neural network deep neural network deep learning network")

[('neural', 0.25), ('network', 0.375), ('deep', 0.25), ('learning', 0.125)]

# Hexa to Decimal

In [54]:
a = ["A", "B", "C", "D", "E", "F"]
n = "C9"
res = 0
for i in range(len(n)):
    if n[i].isdigit():
        res += (int(n[i]) * (16**(len(n)-1-i)))
    else:
        res += ((10+a.index(n[i])) * (16**(len(n)-1-i)))
res

201

In [8]:
string = "hlole"
len_string = len(string)
new_string = ""

for i in range (len_string//2) :
    new_string += string[i] + string[-i-1]
if (len_string % 2) != 0 :
    new_string += string[len_string//2]

print(new_string)

## OR

tokens = list(string)
result = []

while len(tokens) != 0:
    result += tokens.pop(0)
    if len(tokens) != 0 :
        result += tokens.pop()

print(''.join(result))

hello
hello

In [111]:
s = "Holiday"
tokens = list(s)
result = []
while len(tokens) != 0:
    result += tokens.pop(0)
    if len(tokens) != 0 :
        result += tokens.pop()
print(''.join(result) + ''.join(result)[::-1])

HyoaldiidlaoyH

In [116]:
print(''.join(i+j for i,j in zip(s,s[::-1])))

HyoaldiidlaoyH

# TAIL FUNCTION

In [9]:
f = open("texte1.txt", "r")
brut = f.read()
split_brut = brut.split('\n')
result = '\n'.join(split_brut[-5:])
print(result)
##print('\n'.join(f.read().split('\n')[-5:]))
f.close()

Abusus enim multitudine hominum, quam tranquillis in rebus diutius rexit, ex agrestibus habitaculis urbes construxit multis opibus firmas et viribus, quarum ad praesens pleraeque licet Graecis nominibus appellentur, quae isdem ad arbitrium inposita sunt conditoris, primigenia tamen nomina non amittunt, quae eis Assyria lingua institutores veteres indiderunt.


Antoine WANG LE BG

In [10]:
my_list = [21, 2, 93]
double = [x*2 for x in my_list]
print(double)

my_list2 = ['blog', 'Treehouse', 'Python', 'hi']
morethan5 = [word for word in my_list2 if len(word)>=5]
print(morethan5)

x = 101
print("more") if x > 100 else print("less") if x < 100 else print("equal")

[42, 4, 186]
['Treehouse', 'Python']
more

# Find number of diagonals in n sided convex polygon

In [15]:
def numberOfDiagonals(n):
    return int(n * (n - 3) / 2)

In [27]:
def add_it_up(n):
    try:
        return sum([x for x in range(n+1)]) # ou sum(range(n+1))
    except TypeError:
        return 0
add_it_up("d")

0

# Caesar Cipher

In [56]:
import string

def caesar(plain_text, shift_num=1):
    letters = string.ascii_lowercase
    print(letters)
    mask = letters[shift_num:] + letters[:shift_num]
    print(letters[shift_num:])
    print(letters[:shift_num])
    trantab = str.maketrans(letters, mask)
    print(trantab)
    return plain_text.translate(trantab)

caesar("abcde", 2)

abcdefghijklmnopqrstuvwxyz
cdefghijklmnopqrstuvwxyz
ab
{97: 99, 98: 100, 99: 101, 100: 102, 101: 103, 102: 104, 103: 105, 104: 106, 105: 107, 106: 108, 107: 109, 108: 110, 109: 111, 110: 112, 111: 113, 112: 114, 113: 115, 114: 116, 115: 117, 116: 118, 117: 119, 118: 120, 119: 121, 120: 122, 121: 97, 122: 98}

'cdefg'

In [11]:
s = "abdelkader"
res = ""

if len(s) > len(res):

TypeError: 'tuple' object does not support item assignment

In [7]:
result = ("z",0)
result1

NameError: name 'result1' is not defined

In [2]:
def longestSuite():
    pass

# ZIP

In [42]:
number_list = [1, 2, 3]
str_list = ['one', 'two', 'three']

# No iterables are passed
result = zip()

# Converting iterator to list
result_list = list(result)
print(result_list)

# Two iterables are passed
result = zip(number_list, str_list)

# Converting iterator to set
result_set = set(result)
print(result_set)

[]
{(3, 'three'), (2, 'two'), (1, 'one')}

In [112]:
numbersList = [1, 2, 3]
str_list = ['one', 'two']
numbers_tuple = ('ONE', 'TWO', 'THREE', 'FOUR')

# Notice, the size of numbersList and numbers_tuple is different
result = zip(numbersList, numbers_tuple)

# Converting to set
result_set = set(result)
print(result_set)

result = zip(numbersList, str_list, numbers_tuple)

# Converting to set
result_set = set(result)
print(result_set)

{(3, 'THREE'), (2, 'TWO'), (1, 'ONE')}
{(1, 'one', 'ONE'), (2, 'two', 'TWO')}

In [61]:
n = 4
count = 0
for i in range(n+1):
    string = []
    for k in range (i) : 
        count += 1
        string.append(str(count))
    print(" ".join(string))

1
2 3
4 5 6
7 8 9 10

In [70]:
w = "Hello"
c = "D"
s = " " if c == "S" else "\n"
print(s.join([w[::(-1)**k] for k in range(len(w))]))

Hello
olleH
Hello
olleH
Hello

In [7]:
n = 3
q = 2
if q<0 : 
    a = [[str(q-k-i) for k in range (n)] for i in range(n)]
else : 
    a = [[str(q+k+i) for k in range (n)] for i in range(n)]
for t in a : 
    print(" ".join(t))

2 3 4
3 4 5
4 5 6

# Suite de Fibonacci

In [1]:
x = [0,1]
n = 7
for k in range (2,n):
    x.append(x[k-1]+x[k-2])
print(x[-1])
print(x)

8
[0, 1, 1, 2, 3, 5, 8]

In [6]:
def fibonacci(n):
    if n <= 1:
        return n 
    else:
        return fibonacci(n-1) + fibonacci(n-2)
fibonacci(7)

13

# Factorial

In [3]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n*factorial(n-1)
factorial(10)

3628800

In [26]:
n = ["1","2","3","2"]
print(str(sorted(n)!=n!=n[::-1]))

True

In [36]:
n = 6
t = ""
for i in range(n):
    t += "*" if i%2==0 else " "
for i in range(n):
    print(t) if i%2==0 else print(t[::-1])

* * *
 * * *
* * *
 * * *
* * *
 * * *

In [50]:
message = "abvvvpvvvv"

s=""
count=0
for i in message:
    if i == "v":
        if count == 0:
            s+="w"
            count+=1
    else:
        s+=i
        count=0
print(s)

abwpw

In [56]:
list("qdqsds")
[*"qdqsds"]

['q', 'd', 'q', 's', 'd', 's']

In [68]:
n = 5
s = "hello"
p = "ehjlo"
c1 = c2 = 0
p1 = p2 = ""
for i,j in zip(s,p):
    if i==j : 
        c1+=1
    else : 
        p1+=i
        p2+=j
for i in p1:
    c2+=1 if i in p2 else 0
print(c1, c2)

2 2

avec n 1, trouver le resultat max en utilisant que des * et +

6 = 9

10 = 36

# SUDOKU

In [ ]:
correct = [i for i in range(1, 10)]
table = [[int(x) for x in input().split() ] for i in range(9)]

def checkrow(t):
    for g in table:
        if sorted(g) != correct:
            return False
    return True

def checkcol(t):
    for i in range (9):
        c = []
        for j in range (9):
            c.append(t[j][i])
        if sorted(c) != correct:
            return False
    return True

def checksub(t):
    for x in range (0, 9, 3):
        c = []
        for i in range (3):
            for j in range (3):
                c.append(t[j+x][i+x])
        if sorted(c) != correct:
            return False
    return True

print(str(checkrow(table) and checkcol(table) and checksub(table)).lower())

In [6]:
t = [i for i in range (10)]
t[:2]

[0, 1]

In [7]:
t

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
yes_votes = 42_572_654
no_votes = 43_132_495
percentage = yes_votes / (yes_votes + no_votes)
'{:8} YES votes  {:2.3%}'.format(yes_votes, percentage)

'42572654 YES votes  49.673%'

In [25]:
f'Results of the {yes_votes} {no_votes}'

'Results of the 42572654 43132495'

In [2]:
print(f'Results of the repl{1} {1}')

Results of the 1 1

In [12]:
print(divmod(10,3))

(3, 1)

In [22]:
a = [1,2,3,4,5]
a[:-1]

[1, 2, 3, 4]

In [24]:
lst = ['foo.py', 'bar.py', 'baz.py', 'qux.py', Ellipsis]
s = set(lst)

TypeError: 'set' object is not callable

In [5]:
a = ["4",2,"4",3,4,5,5]
seta = set(a)
print(seta)

{2, 3, 4, 5, '4'}

In [13]:
def test(*args, **kargs):
    print(args)
    print(kargs)
    print(args[0])
    print(kargs.get('a'))

alpha = 'alpha'
beta = 'beta'
test(alpha, beta, a=1, b=2)

('alpha', 'beta')
{'a': 1, 'b': 2}
alpha
1

# Dictionaries

In [37]:
mydict = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
for key in mydict:
    print(key, mydict[key])

a 1
b 2
c 3
d 4
e 5

In [49]:
a = "jesuisantoine"
b = [1,2]
for index, e in enumerate(a):
    print(index, e)
print(set(zip(a,b)))

0 j
1 e
2 s
3 u
4 i
5 s
6 a
7 n
8 t
9 o
10 i
11 n
12 e
{('j', 1), ('e', 2)}

In [52]:
import copy 
m = 1
n = copy.copy(m)
c = m
m = 3
c

1

In [1]:
import gc 
c = gc.collect()
c

207

In [4]:
class toto():
    __a = 3
toto().a

AttributeError: 'toto' object has no attribute 'a'